[Unit]
Description=Auxv Dot Org Service
After=network.target

[Service]
ExecStart=/root/auxv-dot-org/auxv-dot-org --domain auxv.org --email me@auxv.org
WorkingDirectory=/root/auxv-dot-org
# Yurp, this is a shit idea if I've ever had one...
User=root
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
