@font-face {
  font-family: "Cascadia Code";
  src: url("/font/cascadia_code.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/font/cascadia_code_italic.woff2");
  font-weight: 400;
  font-style: italic;
}
